@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* .main-app{
    max-width: 1440px;
} */
/* navbar starting */

.App{
    max-width: 1440px;
    margin-inline: auto;
}

#main-nav{
    display: flex;
    gap:127px;
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    height: 93px;
    z-index: 99;
}
.nav-logo{
    font-family: 'Griffy', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
}  

.nav-logo a{
    text-decoration: none;
    color: #FFC907;
}

#nav-left{
    display:flex;
    align-items: center;
    gap:60px;
}

#nav-right{
    display:flex;
    align-items: center;
    gap:55px;
}

.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
    white-space: nowrap;
    gap:37px;  
}

.nav-list a{
    text-decoration: none;
    color:#A1B1CB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}


.nav-list a:hover{
    color:#ffffff;
}


.nav-search{
    display: flex;
    background-color: #3B567D;
    align-items: center;
    justify-content: center;
    gap:115px;
    border: 0px solid;
    border-radius: 25px;
    height: 37px;
    width: 324px;
}

.nav-search input{
    border: none;
    outline: none;
    background-color: #3B567D;
}

.nav-search input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: #A2B3CD;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.nav-search i{
    color: #A2B3CD;
}

.nav-icon{
    display: flex;
    gap:41px;
    font-size: 30px;
    color: #fafafa;
}

.nav-icon i{
    color: #fafafa;
    height: 30px;
    width: 30px;
}

.nav-pro img{
    height: 59px;
    width: 59px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.onDoff{
    height: 14px;
    width: 14px;
    color: #3BFF37;
    font-size: 22px;
    /* border: 2px solid #FFFFFF; */
    z-index: 10;
    border-radius: 100%;
    margin-left: -15px;
}

/* navbar Ending*/

/* Side bar starting */

#main-sidebar{
    position: fixed;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap:35px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 26px 26px 0px ;
    font-size: 30px;
    max-width: fit-content;
    padding: 29px;
    color: #BCA5FF;
    background: linear-gradient(2.87deg, #130B29 9.89%, #5436A9 100%, #5E47A1 100%);
    z-index: 1;
}

#main-sidebar a{
    color: #BCA5FF;
}

#main-sidebar a:hover{
    color: #ffffff;
}

#main-homepage-bg{
    position: absolute;
    height: 90vh;
    width: 100%;
    z-index: -1;
    max-width: 1440px;
}

#main-homepage-bg::before{
    z-index: -1;
    content: "";
    background: linear-gradient(90deg, #000000 17.76%, rgba(0, 0, 0, 0.687449) 41.44%, rgba(196, 196, 196, 0) 100%);
    width: 100%;
    height: 130vh;
    position: absolute;
    top: 0;
    left: 0;
}

.poster-hp{
    /* max-width: 1440px; */
    z-index:-5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 130vh; */
}

#main-homepage{
    display: flex;
    /* justify-content: center; */
    align-items: center;   
    width: 100%; 
}

#main-homepage-cont{
    margin-left: 120px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.logoImg{
    height: 180px;
    width:500px
}

.overview-hp{
    max-width: 560px;
    max-height: 51px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

}

.genres-hp{
    display: flex;
    flex-direction: column;
    /* gap: 0px; */
}

.genres-hp-head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FF2E00;
}

.genres-hp-cont{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.watchlist-hp{
    display: flex;
    gap:21px;
}

.watch{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #5436A9;
    border-radius: 30px;
    padding: 13px 25px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.watch-sl{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #5436A9;
    border-radius: 30px;
    padding: 13px 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #E3E3E3;
    margin: 36px 0px 46px;
}

.watch-sl-ct{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: #5436A9;
    border-radius: 30px;
    padding: 13px 25px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #E3E3E3;
    z-index: 10;
    /* margin-left: 500px;
    margin-top: -25px; */
}


.list{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background:  #5C5C5C;;
    border-radius: 30px;
    padding: 13px 25px;
    color: #ffffff;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.download{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background:  #5C5C5C;;
    border-radius: 30px;;
    padding: 13px 15px;
    border: none;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: block;
}
/* #wl-icons{
    font-weight: 600;
font-size: 36px;
line-height: 44px;

color: #FFFFFF;
} */
.ratings-hp{
    display: flex;
   /* justify-content: center; */
   align-items: center;
   gap:13px;
}

/* .idbm{
    background-color: #FFC907;
    border-radius: 6px;
} */

.rating{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFC907;
}

.ua{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
    border : 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}

.restype{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
    border : 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}

.relesedate{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #959595;
    padding: 5px;
}

/* slidbar  */
#main-sb{
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    padding: 29px 23px;
    margin-left: 120px;
    background: rgba(11, 15, 22, 0.47);
    box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 24px;
    gap: 21px;
    overflow: hidden;
}

#main-ct{
    margin-left: 120px;
    margin-top: 44px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: flex;
    padding: 29px 23px;
    /* height: 298px; */
    /* width: 1304px; */
    background: rgba(11, 15, 22, 0.47);
    box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    border-radius: 24px;
    gap: 104px;
    /* overflow: hidden; */
}

#main-sbmv{
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    padding: 29px 23px;
    margin-left: 120px;
    backdrop-filter: blur(25px);
    border-radius: 24px;
    gap: 21px;
    overflow: hidden;
}

#main-ml{
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    padding: 30px 3px;
    margin-left: 120px;
    backdrop-filter: blur(25px);
    border-radius: 24px;
    gap: 21px;
    overflow: hidden;
}

#showmoresl{
    display: flex;
    justify-content: center;
    align-items: center;
}

#showmoresl-ct{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -105px;
    /* width: 780px; */
    
    /* transform: translateY(55px); */
    z-index: 10;
}


.sb-haed{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 80;
}

#ct-haed{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ct-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.ct-cont-head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#ct-trail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    border-radius: 30px;
}

.react-player__preview{
    border-radius: 7px;
}

.react-player__shadow{
    background-color: #FAFAFA !important;
    margin-top: 90px !important;
}

.react-player__preview{
    display: block !important;
}


/* .react-player__play-icon{ 
    border-color: transparent transparent transparent #5436A9 !important;
    margin: 0px;
} */

.play-icon{
    background-color: #FAFAFA;
    color: #5436A9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 6.5px 6px 6.5px 7.5px;
    border-radius: 50%;
    float: right !important;
    margin-top: 115px !important;
    margin-right: 10px !important;
}

#ct-haed p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sb-haed p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sb-button {
    display: flex;
    /* justify-content:center ; */
    align-items: center;
    gap:23px;
}

.sb-button button{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background:  #5C5C5C;;
    border-radius: 30px;
    padding: 10px 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
}

.sb-card{
    display: flex;
    gap: 42px;
}
/* card */
#card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border-radius: 24px; */
    max-width: 167px;
}

#ct-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* border-radius: 24px; */
    /* max-width: 90px; */
    /* width: 100%; */
    /* overflow: hidden; */
    /* width: 100vw; */
    /* max-width: 850px;  */
    /* overflow: hidden; */
}

#main-card-ct{
    display: flex;
    width: 150px;
}

.ct-cont .slick-list {
    /* width: 100vw; */
    overflow: hidden;
    max-width: 300px;
}

.ct-cards{
    /* display: flex; */
    /* gap: 72px; */
    width:770px ;
    overflow: hidden;
    /* width: 100vh; */

    
}

.card-poster{
    border-radius: 7px;
    height:237px ;
    width: 168px;
}

#card-pro{
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    height:145px ;
    width: 110px;
}

.ct-cont .card-head p{
    overflow: hidden;  
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* .card-head p{
    overflow: hidden;  
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.card-head a{
    text-decoration: none ;  
}

.card-head p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 110px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.card-rd{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    width: 110px;
    font-size: 11px;
    line-height: 13px;
    color: #AFAFAF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-ra{
    padding: 0px 2px;
    display: flex;
    /* gap:78px; */
    justify-content: space-between;
}

.card-ratings{
    display: flex;
    align-items: center;
    gap:6px;
}

.card-ratings p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    
    color: #FFC907;
}

.card-actions{
    display: flex;
    align-items: center;
    gap:6px;
}

#main-ftr{
    background-color: hsl(330, 10%, 8%);
    padding-top: 95px;
}

.lang-sl{
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
    background: #362F33;
    padding: 8px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    border:none;
}

#ftr-links{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 125px;
}

.ftr-nvg{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nvg-links{
    display: flex;
    flex-direction: column;
}

.nvg-head{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nvg-links{
    display: flex;
    flex-direction: column;
    /* gap:13px; */
}

.nvg-links a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.nvg-icons{
    display: flex;
    gap:14px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

#ftr-copyrigth{
    /* height: 110px; */
    padding: 27px 0px 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

#slider-main{
    display: flex;
    gap: 42px;
}

.slick-track {
    display: flex;
}

.slick-prev {
    background-color: #5c5c5c;
    border-radius: 50%;
}

.slick-next{
    background-color: #5c5c5c;
    border-radius: 50%;
}

.slick-slide,.slick-active,.slick-current{
    outline: none;
    width: 205px;
}

.ml-card{
    /* display: flex; */
    gap: 28px;
    padding: 0px 0px ;
}

.ml-card-img{
    height: 172px;
    width: 289px;  
    /* object-fit: cover;   */
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.36));
    border-radius: 7px;
}

.ml-info-desc{
    display: flex;
    gap: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.ml-info-title{
    display: flex;
    gap: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.ml-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ml-info  .ml-info-rating{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.ml-info .rating-ml{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFC907;
}

.ml-card a{
    text-decoration: none;
}

.ml-info-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow:ellipsis ;
}

.ml-info-desc {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #A9A9A9;
}

.ml-info-rm p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: #5436A9;
}

.ml-card-cont{
    position: relative;
    overflow: hidden;
}

.ml-info {
    background: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100%;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    height: 172px;
    width: 289px;  
}

.ml-card-cont:hover .ml-info {
    top: 0;
    transition: all 0.3s ease-in-out;
}

.ml-info .ml-info-rm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}