@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body,* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
  body {
    color: black;
    background: white;
  }
}

.btn-text-cardShadow{
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  pointer-events: none;
}

.slider {
  -webkit-appearance: none;
  border-radius: 10px;  
  background:  linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider input[type="range"] {
  -webkit-appearance:none !important;
  background: #EBEBF0;
  border: none;
  outline: none;
  }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%);
  box-shadow: 0px 3px 7px -1px rgba(254, 110, 6, 0.46);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.slider::-webkit-slider-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%);
  box-shadow: 0px 3px 7px -1px rgba(254, 110, 6, 0.46);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}



.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%);
  box-shadow: 0px 3px 7px -1px rgba(254, 110, 6, 0.46);
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
  }

  /* sdsdcjjsdcnsdjcn */

/* .dropdown-content a:hover {
  background-color: #f1f1f1;
} */

/* .dropdown-content a:focus {
  display: none;
} */

.rc-slider-rail { 
  
  background:#EBEBF0 !important;
  height: 6px !important; 
  border-radius: 10px; 
}  
.rc-slider-track {
 
  border-radius: 10px;
  height: 6px !important;
  background: linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%) !important;
}
.rc-slider-handle {
  width: 20px !important;
  height: 20px !important;
  margin-top: -7px !important;
  background: linear-gradient(147.14deg, #FF8800 6.95%, #E63535 93.05%) !important;
  border: 2px solid #FFFFFF !important;
  box-shadow: 0px 3px 7px -1px rgba(254, 110, 6, 0.46) !important;
  border-radius: 20px !important;
}

.image-gallery-image {
  width: auto !important;
  margin: auto;
  border-radius: 12px !important;
  height: 500px;
}

.image-gallery-thumbnails {
  margin-top: 36px !important;
  max-width: 1150px !important;
  margin: auto;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 8px;
}
.image-gallery-thumbnail {
  width: 142px !important;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  outline: none;
  border: 3px solid #ff8800 !important;
  filter: drop-shadow(0px 7px 38px rgba(255, 136, 0, 0.37)) !important;
  border-radius: 8px !important;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 40px !important;
  width: 20px !important;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
  height: 25px;
  width: 25px;
}

/* .features {
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical;
    text-overflow : ellipsis;
} */

.prev_btn ,.nxt_btn{
  background: #28293D;
  color: #FFFFFF;;
}
.prev_btn.disabled{
  background: #E4E4EB;
  color: #8F90A6;
}
.nxt_btn.disabled{
  background: #E4E4EB;
  color: #8F90A6;
}